.home-container {
    background-image: url('/public/papeldeparede1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: 80px;
    padding: 50%;
    border-radius: 12px;
    color: white;
    height: 200%;
    font-size: 2.5rem; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .home-container h1 {
    margin-bottom: 20px; 
  }
  
  .home-container p {
    line-height: 1.5;
  }
  
@media (min-width: 768px) {
    .home-container {
        padding: 10px;
        height: 100%;
        font-size: 10px;
    }
  }