.navbar {
  width: 75%;
  height: auto;
  padding: 0px 0px;
  align-items: center;
  position: fixed; 
  top: 6%; 
  left: 10%;
  z-index: 1; 
  font-family: 'Whisper', 'sans-serif';
  font-weight: bold;
  font-size: 50px;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  color: #8f8f8f;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  transform: translateZ(5px);
  color: blueviolet;
}

.fa-home {
  text-decoration: none;
  margin-right: 5px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(255, 25, 0);
}

@media (max-width: 768px) {
  .navbar{
    font-size: 35px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
